
{% extends 'index.html' %}

{% load staticfiles %}

{% block breadcumbs %}
	Consulta | Matricula
{% endblock %}

{% block conteudo %}
	

<table>
	<thead style="background:#e5e5e5;color:black">
	<tr>
		<th class="colunaTabelaConsulta" style="width:10%">Remover</th>
		<th class="colunaTabelaConsulta" style="width:30%">Turma</th>
		<th class="colunaTabelaConsulta" style="width:30%">Aluno</th>
		
	</tr>
	</thead>
	<tbody>
	{% if listaMatricula_itens%}
		{% for item in listaMatricula_itens %}
			<tr>
				<td class="colunaTabelaConsulta">
				 	<a href="/removeMatricula/{{item.id}}/"> <img src="{% static "img/lixeira.png" %}" alt ="Deletar"/></a>
				</td>
				
	 			<td class="colunaTabelaConsulta"> <a href="/itemMatricula/{{item.id}}/">{{ item.nmTurma }}</a></td>
	 			<td class="colunaTabelaConsulta"> {{ item.nmAluno }}</td>
	 		</tr>
		{% endfor %}
	{% else %}
		<li>Sem itens na lista</li> 
	{% endif %}
</table>

{% endblock %}
