{% extends "index.html" %}
{% load staticfiles %}

{% block breadcumbs %}
	Edicao | Turma
{% endblock %}

{% block conteudo %}
<form method="post" action=".">
	{% csrf_token %} 
	<div style="width:100%; font-size:12px; text-align:left">
	<table>
		<tr> 
		<td class="colunaTabela"> <label>Curso</label> </td>
		<td> 
		<select name="curso">
			{% for obj in curso %}
				{% if turma.nmCurso.id == obj.id %}
					<option selected="selected" value="{{ obj.id }}">{{ obj.nmCurso }}</option>
				{% else %}
					<option value="{{ obj.id }}">{{ obj.nmCurso }}</option>
				{% endif %}
			{% endfor %}
		</select>
		</td>
		</tr>
		
		<tr> <td class="colunaTabela"> <label>Local</label> </td>
		<td> 
		<select name="local">
			{% for obj in local %}
				{% if turma.nmLocal.id == obj.id %}
					<option selected="selected" value="{{ obj.id }}">{{ obj.nmLocal }}</option>
				{% else %}
					<option value="{{ obj.id }}">{{ obj.nmLocal }}</option>
				{% endif %}
			{% endfor %}
		</select>
		</td>
		</tr>
		
		<tr> <td class="colunaTabela"> <label>Periodo:</label> </td>	
		<td>
		<select name="periodo">
			{% for obj in periodo %}
				{% if turma.nmPeriodo.id == obj.id %}
					<option selected="selected" value="{{ obj.id }}">{{ obj.nmPeriodo }}</option>
				{% else %}
					<option value="{{ obj.id }}">{{ obj.nmPeriodo }}</option>
				{% endif %}
			{% endfor %}
		</select>
		</td>
		</tr>
	</table>
	
	</div>
	<br />
	<table style="width:100%">
	<tr>	<td class="colunaTabela" style="text-align:left">
			<a href="/listaTurma/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
			<input type="submit" class="button_green" value="SALVAR" />
		</td>
	</tr>
	</table>
	</form>
	
{% endblock %}
