
{% extends 'index.html' %}

{% load staticfiles %}

{% block breadcumbs %}
	Consulta | Turma
{% endblock %}

{% block conteudo %}
<div style="width:100%">
<form action="." method="post">
{% csrf_token %}
<table>
	<tr><td class="colunaTabela" style="padding-bottom: 10px"> <label>CONSULTA TODAS AS TURMAS</label> </td></tr>
</table>
<table id="table_peca_tecnica"  style="width:100%">
	<tr>
		<td class="colunaTabela" style="width:2%"><label>Curso: </label> </td>
		<td class="colunaTabela" style="width:8%"><input name="curso" size="15"/> </td>
		<td class="colunaTabela" style="width:2%"><label>Local: </label> </td>
		<td class="colunaTabela" style="width:8%"><input name="local" size="15"/> </td>
		<td class="colunaTabela" style="width:2%"><label>Periodo: </label> </td>
		<td class="colunaTabela" style="width:1%"><input name="periodo" size="5"/> </td>
		<td class="colunaTabela" style="width:5%"><input class="button_yellow" style="margin-right:1px" type="submit" value="PESQUISAR"/> </td>	
		<td class="colunaTabela" style="width:5%"><a href="/adicionaTurma/"> <input class="button_green" value="NOVO" type="button" /> </a>
	</tr>

<table>
	<thead style="background:#e5e5e5;color:black">
	<tr>
		<!-- th class="colunaTabelaConsulta" style="width:8%">Remover</th-->
		<th class="colunaTabelaConsulta" style="width:8%">Alunos</th>
		<th class="colunaTabelaConsulta" style="width:30%">Curso</th>
		<th class="colunaTabelaConsulta" style="width:30%">Local</th>
		<th class="colunaTabelaConsulta" style="width:30%">Periodo</th>
		
	</tr>
	</thead>
	<tbody>
	{% if lista%}
		{% for item in lista %}
			<tr>
				<!-- td class="colunaTabelaConsulta">
				 	<a href="/removeTurma/{{item.id}}/"> <img src="{% static "img/lixeira.png" %}" alt ="Deletar"/></a>
				</td-->
				<td class="colunaTabelaConsulta">
				 	<a href="/ListaAlunosMatriculados/{{item.id}}/"> <img src="{% static "img/turma.jpg" %}" alt ="Alunos"/></a>
				</td>
				
	 			<td class="colunaTabelaConsulta"> <a href="/itemTurma/{{item.id}}/">{{ item.nmCurso }}</a></td>
	 			<td class="colunaTabelaConsulta"> {{ item.nmLocal }}</td>
	 			<td class="colunaTabelaConsulta"> <a id="periodo" size="5" > {{ item.nmPeriodo }} </a> </td>
	 			
	 			
			</tr>
		{% endfor %}
	{% else %}
		<li>Sem itens na lista</li> 
	{% endif %}
</table>
</table>
</form>
</div>


{% endblock %}
