{% load staticfiles %} 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html style="font-size: 20px;" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>

<meta charset="utf-8" />
	<title>Brasil de Joelhos - Escolas</title>
	
	<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs1-cachekey0246.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs2-cachekey2314.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs3-cachekey5925.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs4-cachekey9210.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/style.css" %}" />
	

<html>
<head>
{% block cabecalho %}<title>Escola</title> {% endblock %}
</head>

<body style="background: url('{% static 'img/fundo.jpg' %}') no-repeat scroll center top; background-repeat:	repeat; background-position:center " 
	id="home-pt" dir="ltr" class="section-home template-contentpanels_view" >

<div id="barra-brasil">
	<div class="barra">
		</br>
		<div style="text-align:left; width:100%;font-size:40px;color:white; font-weight:bold">Brasil de Joelhos - Escolas</div>
	</div>
</div>

<div id="visual-portal-wrapper">
<DIV id="portal-top">
<DIV id="portal-header">
</br></br>


</DIV> <!-- fim div portal-header -->
</DIV> <!-- fim div portal-top -->

<div id="portal-column-content" class="visualColumnHideTwo">
<!-- COLUNA ESQUERDA -->
<div class="first-child" id="portal-column-one">
</div>
<!-- COLUNA CENTRAL -->

<div id="content-plain" class="last-child">
	{% block index %} {% endblock %}
</div>
 
</div>
</div>
	
</body>
</html>