{% load staticfiles %} 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html style="font-size: 20px;" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>

<meta charset="utf-8" />
	<title>Controle ESCOLA</title>
	
	<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs1-cachekey0246.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs2-cachekey2314.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs3-cachekey5925.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs4-cachekey9210.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/style.css" %}" />
	

<html>
<head>
{% block cabecalho %}<title>Escola</title> {% endblock %}
</head>

<body style="background: url('{% static 'img/fundo.jpg' %}') no-repeat scroll center top;" 
	id="home-pt" dir="ltr" class="section-home template-contentpanels_view">

<div id="barra-brasil">
	<div class="barra">
		<div style="width:100%;font-size:20px;color:white; font-weight:bold"> 
		Sistema de controle de escola </div>
	</div>
</div>

<div id="visual-portal-wrapper">
<DIV id="portal-top">
<DIV id="portal-header">
</br></br>
<div id="divCollophon" style=" background: url('{% static "img/bgHeader.gif" %}');" >
			<div class="first-child last-child">
				
				<div style="margin-top:10px" class="baixoContraste first-child last-child">

					<p style="font-weight: bold;" class="first-child">
						Você está aqui: {% block breadcumbs %} {% endblock %}
					</p>
					<p style="font-weight: bold;" class="creditos last-child">
						{% if user.is_active %}
							Usuario: 
							{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %} 
							| <a href="/logout/">Sair do Sistema</a>
						{% endif %}
					</p>

				</div>
			</div>
		</div>

</DIV> <!-- fim div portal-header -->
</DIV> <!-- fim div portal-top -->

<div id="portal-column-content" class="visualColumnHideTwo">
<!-- COLUNA ESQUERDA -->
<div class="first-child" id="portal-column-one">
</div>
<!-- COLUNA CENTRAL -->

<div id="content-plain" class="last-child">
	{% block index %} {% endblock %}
</div>
 
</div>
</div>
	
</body>
</html>