
{% extends 'index.html' %}

{% load staticfiles %}

{% block breadcumbs %}
	Lista | Aluno
{% endblock %}

{% block conteudo %}
<table>
	<thead style="background:#e5e5e5;color:black">
	<tr>
		<th class="colunaTabelaConsulta" style="width:5%">Remover</th>
		<th class="colunaTabelaConsulta" style="width:95%">Aluno</th>
		
	</tr>
	</thead>
	<tbody>
	{% if lista_itens%}
		{% for item in lista_itens %}
			<tr>
				<td class="colunaTabelaConsulta">
				 	<a href="/remove/{{item.id}}/"> <img src="{% static "img/lixeira.png" %}" alt ="Deletar"/></a>
				</td>
	 			<td class="colunaTabelaConsulta"> <a href="/item/{{item.id}}/">{{ item.nmAluno }}  </a>
			</tr>
		{% endfor %}
	{% else %}
		<li>Sem itens na lista</li> 
	{% endif %}
</table>
{% endblock %}
