{% extends "index.html" %}
{% load staticfiles %}

{% block breadcumbs %}
	Lista | Aluno
{% endblock %}

{% block conteudo %}
<form method="post" action="">
	{% csrf_token %} 
	<div style="width:100%; font-size:12px; text-align:left">
	<table style="width:100%">
		<tr> 
			<td class="colunaTabela"> <label>Aluno</label> </td>
			<td><input name="nmAluno" size=40 value="{{aluno.nmAluno}}"/></td>
			<td> <input type="submit" class="button_green" value="SALVAR" style="margin-left: 10px" /></td>
		</tr>
		<tr> <td class="colunaTabela"> <label>Cadastro</label> </td><td><input  name="dtMatricula" size=20
		readonly value="{{aluno.dtMatricula}}"/> </td></tr>
	</table>
	</div>
	<table style="width:100%">
	<tr>
		<td class="colunaTabela" style="text-align:left">
			<a href="/listaAluno/" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
		</td>
	</tr>
	</table>
	</form>
{% endblock %}
