
{% extends "index.html" %}

{% load staticfiles %}

{% block breadcumbs %}
	Consulta | Alunos
{% endblock %}

{% block conteudo %}
<div style="width:100%">
<form action="." method="post">
{% csrf_token %}
			
<table id="table_peca_tecnica"  style="width:100%">
	<tr>
		<td class="colunaTabela" style="width:7%"><label>Aluno: </label> </td>
		<td class="colunaTabela" style="width:37%"><input name="aluno" size="40"/> </td>
		<td class="colunaTabela" style="width:8%"><input class="button_yellow" style="margin-right:1px" type="submit" value="PESQUISAR"/> </td>	
		<td class="colunaTabela" style="width:8%"><a href="/adicionaAluno/"> <input class="button_green" value="NOVO" type="button" /> </a>
		<td class="colunaTabela" style="width:40%"></td>
	</tr>
</table>

<div>Total de registros: {{ request.session.relatorio_aluno|length }}</div>

<table id="table_peca_tecnica"  style="width:100%">
	<thead style="background:#e5e5e5;color:black style="width:100%">
	<tr>
		<th class="colunaTabelaConsulta" style="width:70%">Aluno</th>
		<th class="colunaTabelaConsulta" style="width:10%">Turmas</th>
		
	</tr>
	</thead>
	<tbody>
	{% if lista%}
		{% for item in lista %}
			<tr>
				<td class="colunaTabelaConsulta" style="width:80%"> <a href="/itemAluno/{{item.id}}/">{{ item.nmAluno }}</a>
	 			<td class="colunaTabelaConsulta" style="width:10%" align="center">
				 	<!--  a href="/ListaTurmasdoAluno/{{item.id}}/"> <img src="{% static "img/turma.jpg" %}" alt ="turmas"  /></a-->
				 	<a href=""> <img src="{% static "img/turma.jpg" %}" alt ="turmas"  /></a>
				</td>
			</tr>
		{% endfor %}
	{% else %}
		<li>Sem itens na lista</li> 
	{% endif %}
</table>


</form>
</div>
{% endblock %}
